VITE_FIREBASE_API_KEY=AIzaSyCwH4dDAfqZznP11hjspsLtTrbB0hAE5GY
VITE_FIREBASE_AUTH_DOMAIN=vitta-5ec1e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vitta-5ec1e
VITE_FIREBASE_STORAGE_BUCKET=vitta-5ec1e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=733443225670
VITE_FIREBASE_APP_ID=1:733443225670:web:9334e443d9f13b0092b247
VITE_USE_FIREBASE_EMULATORS=false
