DevTools
node_modules
dist
.env
.env.local
.env.*.local
!.env.example
coverage

.dataconnect/
**/dataconnect/.dataconnect/

**/*-debug.log
**/pglite-debug.log
**/dataconnect-debug.log

.env
.env.local
